<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js part-3</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"> </script>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="todo in todos">{{ todo }}</li>
        </ul><br>
        <ul>
            <li v-for="more in mores">{{ more.text }} -- {{ more.title }}</li>
        </ul>
     
      </div>
      <script>
          var app = new Vue({
             el: '#app',
             data: {
                 todos:['js','html','php'],
                 mores:[
                     {text:'js',title:'language'},
                     {text:'Php',title:'language'},
                     {text:'css',title:'webdesign'}
                 ],
              
                 }
        })
      </script>
    
</body>
</html>